<h2>{{question.question}}:</h2>
{{question.author}} asked:
<br> "{{question.question}}"
<br> From {{question.city}} in {{question.country}}.
<br>
{{update-question question=question update="update"}}
<h2> Answers thus far... </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
<br>
<button {{action 'delete' question}}>Delete</button>
