{{#if updateQuestionForm}}
  <h4>Edit {{question.author}}'s question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label> {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="question">Question</label> {{input value=type id="question" placeholder=question.question}}
      </div>

      <div class="form-group">
        <label for="city">City</label> {{input value=city id="city" placeholder=question.city}}
      </div>

      <div class="form-group">
        <label for="country">Country</label> {{input value=country id="country" placeholder=question.country}}
      </div>

      <div class="form-group">
        <label for="aboutMe">About Yourself</label> {{input value=aboutMe id="aboutMe" placeholder=question.aboutMe}}
      </div>

      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
